*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ehlel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    width: 100%;
    height: 100vh;
}

.gol {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80vmin;
    height: 80vmin;
    border-radius: 50%;
    background: #f9e0af;
}

.togsgol {
    position: absolute;
    border-bottom: 25vmin solid #835050;
    border-left: 7vmin solid transparent;
    border-right: 7vmin solid transparent;
    height: 0;
    width: 40vmin;
    bottom: 15vmin;
    transform: rotate(180deg);
    border-radius: 3vmin;
}
.togsgol::after {
    content: ;
    position: absolute;
    width: 26vmin;
    height: 1vmin;
    background: #000;
}

.eyes {
    position: absolute;
    width: 4vmin;
    height: 4vmin;
    background: #000;
    border-radius: 50%;
    bottom: -15vmin;
    right: 18vmin;
    box-shadow: 10vmin 0 #000;
}

.hook {
    position: absolute;
    width: 2vmin;
    height: 2.5vmin;
    top: 9vmin;
    left: 2vmin;
    background: red;
    border-radius: 50%;
    opacity: 20%;
    box-shadow: 16vmin 0 red;
}

.am {
    position: absolute;
    width: 4vmin;
    height: 4vmin;
    top: 5vmin;
    left: 10vmin;
    border-radius: 50%;
    background: transparent;
    border-top: 1vmin solid #000;
}

.cactus{
    position: absolute;
    width: 17vmin;
    height: 30vmin;
    top: 15vmin;
    left: 25vmin;
    background: #799351;
    border-radius: 45%;
    border: 1vmin solid #000;
}

.cactus::before{
    content: "";
    position: absolute;
    width: 5vmin;
    height: 30vmin;
    left: 6vmin;
    background: transparent;
    border-radius: 50%;
    border-right: 1vmin solid #335d2d;
}

.cactus::after{
    content: "";
    position: absolute;
    width: 5vmin;
    height: 30vmin;
    right: 6vmin;
    background: transparent;
    border-radius: 50%;
    border-left: 1vmin solid #335d2d;
}
Small {
    position: absolute;
    width: 17vmin;
    height: 20vmin;
    top: 25vmin;
    right: 28vmin;
    background: #799351;
    border-radius: 45%;
    border-left: 1vmin solid #000;
}
Small::before{
    content: "";
    position: absolute;
    width: 5vmin;
    height: 20vmin; 
    left: 6vmin;
    background: transparent;
    border-radius: 50%;
    border-right: 1vmin solid #335d2d;
}

.Small::after{
    content: "";
    position: absolute;
    width: 5vmin;
    height: 20vmin;
    right: 6vmin;
    background: transparent;
    border-radius: 50%;
    border-left: 1vmin solid #335d2d;
} 

.uzuur {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1vmin solid transparent;
    border-right: 1vmin solid transparent;
    border-bottom: 7vmin solid #335d2d ;
    transform: rotate(-45deg);
}

.uzuur::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 5vmin;
    left: 9vmin;
    border-left: 1vmin solid transparent;
    border-right: 1vmin solid transparent;
    border-bottom: 7vmin solid #335d2d;
    transform: rotate(90deg);
}